<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 align-items-center bg-info">
        <form method="get" action="/" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="bg-transparent border-0">
                <h1 class="text-white ">
                    < </h1>
                </button>
        </form>
        
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 text-center align-self-center h-100">
                        <form method="post" action="/myProfile" enctype="application/x-www-form-urlencoded">
                            <h1 class="text-white mt-1">MY PROFILE</h1>
                            <div class="form-group mb-3">
                                <label for="firstName">First Name : </label>
                                <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                                id="firstName" name="firstName" value="<%= user.firstName %>" required />                                
                            </div>
                            <div class="form-group mb-3">
                                <label for="lastName">Last Name : </label>
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                                id="lastName" name="lastName" value="<%= user.lastName %>" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">Email : </label>
                                <input type="email" class="form-control mb-3 <% if(emailInvalid) { %> is-invalid <% } else { %> <% } %>" id="email" placeholder="Email" name="email"
                                    value="<%= user.email %>" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Passwoed : </label>
                                <input type="password" class="form-control mb-3" id="password" placeholder="Password"
                                    name="password" value="<%= user.password %>" required />
                            </div>                            
                            <p class="<% if(error) { %> text-danger <% } else { %> text-success <% } %>">
                                <%= message %>
                            </p>
                            <button type="submit" class="btn btn-primary col-4 mb-3">Save Changes</button>
                        </form>
                        <form method="post" action="/deleteProfile" enctype="application/x-www-form-urlencoded">
                            <button type="submit" class="btn btn-danger col-4">Delete My Account</button>
                        </form>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>