<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }      
    </style>
</head>

<body>
    <div class="container-fluid h-100 align-items-center bg-info">
        <form method="get" action="/" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="bg-transparent border-0">
                <h1 class="text-white ">
                    < </h1>
                </button>
        </form>
        
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 text-center align-self-center h-100">
                        <form method="post" action="/signup" enctype="application/x-www-form-urlencoded">
                            <h1 class="text-white mt-1">SIGN UP</h1>
                            <p class="text-secondary">Please fill in this from to create an account!</p>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="First name"
                                        aria-label="First name" name="firstName" value="<%= form.firstName %>"
                                        required />
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Last name"
                                        aria-label="Last name" name="lastName" value="<%= form.lastName %>" required />
                                </div>
                            </div>
                            <input type="email" class="form-control mb-3 <% if(emailInvalid) { %> is-invalid <% } else { %> <% } %>" id="email" placeholder="Email" name="email"
                                value="<%= form.email %>" required />
                            <input type="password" class="form-control mb-3" id="password" placeholder="Password"
                                name="password" value="<%= form.password %>" required/>
                            <input type="password" class="form-control mb-3 <% if(confPassInvalid) { %> is-invalid <% } else { %> <% } %> " id="confirmPassword"
                                placeholder="Confirm Password" name="confirmPassword"
                                value="<%= form.confirmPassword %>" />
                            <div class="col text-start mb-3">
                                <input class="form-check-input <% if(agreementInvalid) { %> is-invalid <% } else { %> <% } %>" type="checkbox" value="true" id="agreementCheck" name="agreementCheck" <% if(form.agreementCheck) { %> checked <% } else { %> <% } %> />
                                <label class="form-check-label" for="agreementCheck">
                                    I accept the <a href="">Terms of Use</a> & <a href="">Privacy Policy</a>
                                </label>
                            </div>
                            <p class="<% if(error) { %> text-danger <% } else { %> text-success <% } %>">
                                <%= message %>
                            </p>
                            <button type="submit" class="btn btn-primary col-4">Sign Up</button>
                        </form>
                        <p>Already have an account? <a href="/login">Login here</a></p>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>